 alias c="clear"
 alias v="vi ~/.zshrc"
 alias r="source ~/.zshrc"
 alias rr="rm -r"
 alias vultr="ssh root@140.82.7.62"
 alias tc="trans en:zh-CN"
 alias t="trans"
 alias ts="trans es:en -p"
 
 alias hgrep="history|grep"
 alias p="python3"
 alias up="export ALL_PROXY=socks5://127.0.0.1:1080;brew update;brew cleanup;brew upgrade;brew cask upgrade;unset ALL_PROXY"
 alias in="brew cask install"
 alias bin="brew install"
 alias un="brew cask uninstall"
 alias bun="brew uninstall"
 
 alias proxy="export ALL_PROXY=socks5://127.0.0.1:1080"
 alias unproxy="unset ALL_PROXY"
